#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
*.pyc
.output/*
.work/*
.work_zip/*

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

# Kconfig presets
all.config

include/generated/*
arch/arm64/include/generated/*
include/config/*

.config
.config.old
include/config/afc/charger/mode.h
include/config/af/host/control.h
include/config/advise/syscalls.h
include/config/acpm/dvfs.h
include/config/64bit.h
scripts/selinux/mdp/mdp
scripts/selinux/genheaders/genheaders
scripts/mod/modpost
scripts/mod/mk_elfconfig
scripts/mod/devicetable-offsets.s
scripts/dtc/dtc
